@charset "gb2312";
/* css */
* { margin: 0; padding: 0 }
body { font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif; color: #555; background: #f1f1f1; line-height: 1.5; }
img { border: 0; display: block }
ul, li { list-style: none; }
a { text-decoration: none; color: #444 }
a:hover { text-decoration: none; color: #000; }
.clear { clear: both; }
.blank { height: 20px; overflow: hidden; width: 100%; margin: auto; clear: both }
.f_l { float: left }
.f_r { float: right }
article { width: 1120px; margin: auto; overflow: hidden; z-index: 999 }
.container { width: 1120px; margin: auto }
main{ width:70%; float:left; overflow:hidden;z-index:1;clear: both;min-height:100%}
#header { position: fixed; top: 0px; width: 100%; z-index: 9999; }
.header-navigation { height: 73px; line-height: 73px; background:#fff; text-align: center; border-bottom: 1px solid #ddd; box-shadow: 0 1px 1px rgba(0,0,0,.04); }
/* Slide transitions */
.slideUp { -webkit-transform: translateY(-110px); -ms-transform: translateY(-110px); -o-transform: translateY(-110px); transform: translateY(-110px); -webkit-transition: transform .5s ease-out; -o-transition: transform .5s ease-out; transition: transform .5s ease-out; }
.slideDown { -webkit-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); -webkit-transition: transform .5s ease-out; -o-transition: transform .5s ease-out; transition: transform .5s ease-out; }
.navbar {
    border-bottom: 1px solid #ececec;
    background-color: #555;
    color: #ccc;
    line-height: 36px;
    height: 36px;
    font-size: 14px;
    position: relative;
}.topbox { width: 1120px; margin: auto; overflow: hidden; display: block; position: relative }
.welcome { width: 750px; overflow: hidden; display: block; float: left; position: relative }
.welcome:after { position: absolute; content: ""; left: 0; bottom: 0; width: 100%; height: 36px; background: #555; -webkit-animation: animations 5s ease-out 1s backwards; -moz-animation: animations 5s ease-out 1s backwards; -o-animation: animations 5s ease-out 5s backwards; -ms-animation: animations 5s ease-out 1s backwards; animation: animations 5s ease-out 1s backwards; opacity: 0 }
 @-webkit-keyframes animations { 0% {
left:0%;
opacity:1
}
 100% {
left:100%;
opacity:1
}
}
@-moz-keyframes animations { 0% {
left:0%;
opacity:1
}
 100% {
left:100%;
opacity:1
}
}
@-o-keyframes animations { 0% {
left:0%;
opacity:1
}
 100% {
left:100%;
opacity:1
}
}
@-ms-keyframes animations { 0% {
left:0%;
opacity:1
}
 100% {
left:100%;
opacity:1
}
}
@keyframes animations { 0% {
left:0%;
opacity:1
}
 100% {
left:100%;
opacity:1
}
}
/*search*/
.searchbox { position: absolute; right: 0 }
.search_bar { position: relative; width: 0%; min-width: 40px; height: 36px; float: right; overflow: hidden; -webkit-transition: width 0.3s; -moz-transition: width 0.3s; transition: width 0.3s; -webkit-backface-visibility: hidden; }
.search_bar .input { position: absolute; top: 0; right: 0; border: none; outline: none; height: 36px; line-height: 36px; z-index: 10; font-size: 16px; color: #333; background: none; }
.search_ico, .search_btn { width: 40px; height: 36px; display: block; position: absolute; right: 0; top: 0px; padding: 0; margin: 0; line-height: 36px; cursor: pointer; }
.search_ico { z-index: 90; }
.search_open { width: 260px; display: inline-block; padding-left: 10px }
.search_open.search_bar .input { background: #fff; width: 260px; padding-left: 10px;  }
.search_ico span { position: relative; top: 20px;display: block; }
.search_ico span:before { content: ' '; position: absolute; width: 12px; height: 12px; border: 1px solid #ccc; border-radius: 10px; }
.search_ico span::after { content: ' '; position: absolute; width: 12px; height: 4px; background: #ccc; border-radius: 5px 0 0 5px; -webkit-transform: rotate(225deg); -moz-transform: rotate(225deg); -ms-transform: rotate(225deg); -o-transform: rotate(225deg); transform: rotate(225deg); }
.search_ico span:before { top: -14px; left: 0; }
.search_ico span:after { left: 10px; top: 0; }
/*logo*/
.logo { float: left; font-size: 22px; line-height: 73px; background:url(../images/logo.jpg) left center no-repeat ; padding-left:60px}
/*nav*/
nav { width: 1120px; margin: auto; }
#mnavh { display: none; width: 30px; height: 40px; text-align: center; padding: 0 5px }
#starlist { float:right; margin-left: 50px }
#starlist li { float: left; width: 110px; text-align: center; display: block; font-size: 18px }
.navicon { display: block; position: relative; width: 30px; height: 5px; background-color: #333; margin-top: 20px }
.navicon:before, .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #333; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
.navicon:before { margin-top: -10px; }
.navicon:after { margin-top: 10px; }
.open .navicon { background: none }
.open .navicon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.open .navicon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.open .navicon:before, .open .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #333; }
#starlist li a:hover, #starlist #selected, .selected > a { color: #0077dd; }
.sub { display: none; background: #FFF; position: relative; overflow: hidden; padding: 0 10px 10px 10px; box-shadow: 0 4px 4px rgba(0,0,0,.04); }
.menu { position: relative; }
#starlist li:hover ul { display: block }
#starlist li:hover.menu:before { display: none }
#starlist .sub li { padding: 0 0 0 0; width: 100%; border-bottom: #f5f5f5 1px solid; line-height: 40px; }
.menu:after { content: ""; position: absolute; right: 5px; top: 38px; width: 0; height: 0; background: #292828; border-right: 5px solid transparent; border-top: 5px solid #ffffff; -ms-transition: all .5s ease; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
#starlist li:hover.menu:after { transform: rotate(180deg) }/*旋转*/
/*footer*/
footer{ width:100%; overflow:hidden;background: #555; color:#ccc}
.footer{width: 1120px; margin: auto; overflow:hidden; padding:20px 0}
.wxbox { width:25%; overflow:hidden; float:left}
.wxbox li{ width:100px; float:left; text-align:center; margin-right:10px}
.wxbox img{ width:100px;}
.footer .bzjj{ width:33%; margin-left:20px; float:left}
.footer h2{    font-size: 15px; padding-bottom:10px}
.other{ width:33%; float:right; overflow:hidden; }
/*cd-top*/
.cd-top { display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(0, 0, 0, 0.8) url(../images/top.png) no-repeat center; visibility: hidden; opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; z-index:9999999 }
.cd-top.cd-is-visible { visibility: visible; opacity: 1; }

#liuyan article { width: 1120px; margin: 130px auto 0; overflow: hidden; zoom: 1; }
#liuyan aside { width: 30%; float: left; overflow: hidden; display: block; position: relative; z-index: 1 }
#liuyan main { overflow: hidden; width: 68%; display: block; position: absolute; top: 0px; left: 350px;  }
#liuyan .container { width: 1000px; margin: auto }
#liuyan nav { width: 1000px; margin: auto }
#liuyan .logo { float: left; font-size: 22px }
#liuyan #mnavh { display: none; width: 30px; height: 40px; float: right; text-align: center; padding: 0 5px }
#liuyan #starlist { float: right; }
#liuyan #starlist li { float: left; display: block; padding: 0 0 0 40px; font-size: 16px }
#liuyan .navicon { display: block; position: relative; width: 30px; height: 5px; background-color: #000; margin-top: 20px }
#liuyan .navicon:before, .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #000; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
#liuyan .navicon:before { margin-top: -10px; }
#liuyan .navicon:after { margin-top: 10px; }
#liuyan .open .navicon { background: none }
#liuyan .open .navicon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
#liuyan .open .navicon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
#liuyan .open .navicon:before, .open .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #000; }
#liuyan #starlist #selected { color: #f65a8a; }
#liuyan .header-navigation { position: fixed; top: 0; width: 100%; height: 60px; line-height: 60px; background: rgba(255,255,255,.9); text-align: center; border-bottom: 1px solid #ddd; box-shadow: 0 1px 1px rgba(0,0,0,.04); z-index: 9999; }
#liuyan .slideUp { -webkit-transform: translateY(-100px); -ms-transform: translateY(-100px); -o-transform: translateY(-100px); transform: translateY(-100px); -webkit-transition: transform .5s ease-out; -o-transition: transform .5s ease-out; transition: transform .5s ease-out; }
#liuyan .slideDown { -webkit-transform: translateY(0); -ms-transform: translateY(0);}


/*碎言碎语*/
#say{width:810px;margin:5px auto;}
.timebox .say_box {background-color:#f8f8f8;box-shadow: 0px 1px 0px rgba(255,255,255,.5), inset 0px 1px 1px rgba(214, 214, 214, 0.7);width:600px; border-radius:5px;position:relative; padding: 20px 0;
margin: 10px 0;margin-left: -15px; font-size:14px;font-family:"宋体"; }
.timebox .say_box p {line-height:24px;padding:0 20px 20px ;}
.timebox .say_box::before {content: "";width:0px;height:0px;border-style:solid;border-width:0px 0 20px 22px;border-color:transparent transparent transparent #fff;position:absolute;left:600px;top: 23px; }/* 三角形 */
.timebox .say_box::after {content: "";width: 10px;height: 10px;border-radius: 50%;position:absolute;left:623px;top:16px;background-color:#CCCCCE;border: 2px solid #fff;transition:all 0.5s; }/* 圆形 */
.timebox .say_box:hover::before {border-color:transparent transparent transparent #CECCCD }/* 三角形 */
.timebox .say_box:hover::after {border:#fff 2px solid;background-color:#999; }/* 圆形 */
.timebox .say_box:hover {background-color: #f4f2f2;color:#333; text-shadow: #f7f7f7 1px 1px 1px }
.timebox .dateview {position:absolute;left:643px;top:15px;display:block; width:75px;line-height:35px;background-color:#5EA51B;border-radius:0 30px;text-align:center;color:#fff;font-weight:bold;font-size:14px; }





